*~
.Rhistory
.Rproj.user
.jekyll-cache
.jekyll-metadata
Glossary.egg-info
MANIFEST
R/sysdata.rda
__pycache__
_site
dist
glossary/glossary.yml
man
/Gemfile.lock
/_gh-site/
testr_glossary.yml
Gemfile
assets/css/to_delete.css
.DS_Store
_config.yml
_data/
