---
permalink: /
title: Glosario
layout: page
---
{% for lang in site.languages %}
  {% assign lkey = lang.key %}
  {% assign link = lkey | prepend: './' | append: '/' | relative_url %}
  {% assign unt_link = lkey | prepend: './untranslated-terms/#' | relative_url %}
  {% assign untranslated = site.data[lkey].untranslated_terms %}

  {% if language != "en" and untranslated.size > 0 %}
  <span>
    <i style="float:right; padding-top: 10px">{{untranslated.size}} Untranslated Terms</i>
    <h2><a id="{{lang.name}}" href="{{link}}">{{lang.name}}</a></h2>
  </span>
  {% endif %}

  <div dir='auto' class="lang_blurb">
  {{lang.blurb | markdownify}}
  </div>
{% endfor %}
