{%- if page.title -%}
{%- assign the_title = page.title -%}
{%- else -%}
{%- assign language = page.permalink | replace: '/', '' %}
{%- assign the_title = site.languages | where: "key", language | map: "title" | first -%}
{%- assign the_name = site.languages | where: "key", language | map: "name" | first -%}
{%- endif -%}
<!-- {%- if page.direction -%} -->
<!-- {%- assign direction = page.direction -%} -->
<!-- {%- else -%} -->
<!-- {%- assign direction = 'ltr' %} -->
<!-- {%- endif -%} -->
<header>
<div class="row" dir="auto">
  <div class="left">
    <a href="{{'/' | relative_url}}"><img class="logo" src="{{'/static/parrot.svg' | relative_url}}" alt="Parrot logo"/></a>
    <a href="{{ site.repository_url }}" class="button-ltr"><small><small>View project on </small></small>GitHub</a>
  </div>
  <div class="right">
    <font class="title_font">
      <h1>{{the_title}}</h1>
      <div class="describe">
        <h2>{{ the_name | default: site.description }}</h2>
      </div>
    </font>
  </div>
</div>
</header>
