{%- if page.title -%}
{%- assign the_title = page.title -%}
{%- else -%}
{%- assign language = page.permalink | replace: '/', '' %}
{%- assign the_title = site.languages | where: "key", language | map: "title" | first -%}
{%- assign the_name = site.languages | where: "key", language | map: "name" | first -%}
{%- endif -%}
{%- if page.direction -%}
{%- assign direction = page.direction -%}
{%- else -%}
{%- assign direction = 'ltr' %}
{%- endif -%}
<header>
<div class="row" dir="auto">
  <div class="left-{{ direction }}">
    <a href="{{'/' | relative_url}}"><img class="logo" src="{{'/static/parrot.svg' | relative_url}}" alt="Parrot logo"/></a>
  </div>
  <div class="right-{{ direction }}">
    <font class="title_font">
      <h1>{{the_title}}</h1>
      <div class="describe">
        <h2>{{ the_name | default: site.description }}</h2>
      </div>
    </font>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary glos-main-nav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{'/' | relative_url}}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contribute
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeWrUOM3SWFVtErDzWQugKmVY4gmpqNLpnB7QJioVBCLnEa7g/viewform">Via Google Form</a></li>
              <li><a class="dropdown-item" target="_blank" href="{{ site.repository_url | append: '/issues'}}">Via GitHub Issues</a></li>
              <li>
                <a class="dropdown-item" target="_blank" href="mailto:community@carpentries.org?subject=Contribution%20to%20Glosario.%20Term%3A%20%5BWrite%20term%20in%20English%20here%5D.%20Language%3A%20%5BWrite%20language%20you%20are%20translating%20into%20here%5D&amp;body=What%20is%20the%20English%20name%20of%20the%20term%20you%20are%20translating%3F%0A%5BWrite%20term%20in%20English%20here%5D%0A%0AWhat%20language%20are%20you%20translating%20into%3F%0A%5BWrite%20language%20you%20are%20translating%20into%20here%5D%0A%0AWhat%20is%20the%20term%20in%20the%20language%20you%20are%20translating%20into%3F%0A%5BFill%20this%5D%0A%0AAdd%20your%20translation%20here%3A%0A%5BFill%20this%5D">
                  Via email
                </a>
              </li>
              <hr aria-hidden="true">
              <li><a class="dropdown-item" target="_blank" href="{{ site.repository_url }}">View Project on GitHub</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Guides
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/18oxYd6D9heESqw2gw9cbtxiCfkb4wlxazERFBIDCoeM/edit?tab=t.0#heading=h.wsi1psxc3n64">GitHub How-To</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=ew1eb1ug-Q8">YouTube GitHub Guide (English)</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=f9K5wYq0dQM">YouTube GitHub Guide (Español)</a></li>
              <hr aria-hidden="true">
              <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=71JUneA5XjU">YouTube Google Forms Guide (Multi-Lingual)</a></li>
              <hr aria-hidden="true">
              <li><a class="dropdown-item" target="_blank" href="{{'/setup' | relative_url}}">Local Setup</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/carpentries/glosario?tab=readme-ov-file#contributors">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{'/help' | relative_url}}">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
