---
---

@import "bootstrap/scss/bootstrap.scss";

$glosgrey: #757575;

body {
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}

header div {
    background-color: $glosgrey !important;
    color: white;
}

.lang_blurb {
    width: 100%;
}

.title_font {
    font-family: Arial, Helvetica, sansserif;
    color: white;
}

a {
    color: $blue;
    text-decoration: none;
}

a.anchor {
    display: none;
    margin-left: 5px;
    width: Min(0.9em, 20px);
    height: Min(0.9em, 20px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-link'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: Min(0.9em, 20px) Min(0.9em, 20px);
    background-position: center center;
}

h2, h3, h4 {
    &:hover .anchor {display: inline-block;}
}

a:hover {
    text-decoration: underline;
}

.glos-main-nav {
    margin-left: -12px;
    background-color: $glosgrey !important;
}

.glos-main-nav .nav-link {
    color: white !important;
    text-decoration: none;
}


/* For larger devices */
@media screen and (min-width: 769px) {

    .button-ltr,
    .button-rtl {
        width: 202px;
        height: 84px;
        padding-top: 16px;
        padding-left: 68px;
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 20px;
        line-height: 1.2;
        color: white;
        text-decoration: none;
        text-align: center;
        vertical-align: top;
        background: url({{ "/static/github-button.png" | relative_url }}) 0 0 no-repeat;
    }

    .button-ltr {
        margin: 25px 90px 10px 10px;
        float: right;
    }

    .button-rtl {
        margin: 25px 90px 10px 10px;
        float: right;
    }

    a.button small {
        display: block;
    }

    .sidebar{
        will-change: min-height;
    }

    .sidebar__inner{
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }

    .sticky-nav {
        text-align: right;
        margin-top: -15px;
    }

    .sticky-nav a {
        color: $glosgrey;
    }

    .sticky-nav a:hover {
        color: $glosgrey;
        text-decoration: underline;
    }

    .sticky-home,
    .sticky-ltr,
    .sticky-rtl {
        z-index: 0;
        background-color: $glosgrey;
        color: white;
        text-align: center;
    }

    .sticky-home {
        float: right;
        // margin-right: 1cm;
        right: 0;
        width: 20%;
    }

    .sticky-ltr {
        float: right;
        // margin-right: 1cm;
        right: 0;
        width: 6%;
    }

    .sticky-rtl {
        float: left;
        // margin-left: 1cm;
        left: 0;
        width: 6%;
    }

    .letter {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border: 1px solid $glosgrey;
        background-color: $glosgrey;
        color: white;
    }

    .lang_links,
    .letter_links {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        font-size: px;
        color: white;
        margin: 10px 0% 10px 0%;
    }

    .lang_links {
        line-height: 50px;
        margin-right: 0px;
        top: 30px;
        margin: 10px 20px 10px 10%;
    }

    .letter_links {
        line-height: 40px;
    }

    #content-wrapper {
        margin-right: 0cm;
        margin-left: 0cm;
    }

    .clearfix:after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '.';
        margin-bottom: 30px;
    }

    #main-content-home {
        float: left;
        max-width: 73%;
        padding: 1cm 1cm 1cm 1cm;
        margin-left: 1cm;
    }

    #main-content-ltr {
        float: left;
        margin-left: 1cm;
    }

    #main-content-rtl {
        float: right;
        margin-right: 1cm;
    }

    #main-content-ltr,
    #main-content-rtl {
        padding: .5cm 1cm 1cm 1cm;
        max-width: 87%;
    }

}

/* For mobile phones */
@media only screen and (max-width: 768px) {

    .button-ltr,
    .button-rtl {
      width: 202px;
      height: 84px;
      padding-top: 16px;
      padding-left: 68px;
      font-family: 'Helvetica Neue', Helvetica, Arial, serif;
      font-size: 20px;
      line-height: 1.2;
      color: white;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      background: url({% link /static/github-button.png %}) 0 0 no-repeat;
    }

    .button-ltr {
        margin: 10px 10px 10px 10px;
        float: right;
    }

    .button-rtl {
          float: left;
          margin: 10px 10px 10px 30px;
          margin-right: 1.5cm;
    }

    a.button small {
        display: block;
    }

    .sticky-home {
        display: none;
    }

    .sticky-ltr,
    .sticky-rtl {
        z-index: 0;
        background-color: $glosgrey;
        color: white;
        text-align: center;
    }

    .sticky-ltr {
        float: right;
        right: 0;
        bottom: 30px;
    }

    .sticky-rtl {
        float: left;
        left: 0;
        bottom: 30px;
    }

    .sticky-nav {
        text-align: right;
        margin-top: -15px;
    }

    .sticky-nav a {
        color: $glosgrey;
    }

    .sticky-nav a:hover {
        color: $glosgrey;
        text-decoration: underline;
    }

    .letter {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border: 1px solid $glosgrey;
        background-color: $glosgrey;
        color: white;
    }

    .lang_links { }

    .letter_links {
        line-height: 60px;
        margin: 10px 20% 10px 20%;
        font-size: 35px;
        color: white;
        text-decoration: none;
    }

    #content-wrapper { }

    .clearfix:after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '.';
        margin: 10% 0% 10% 0%;
        width: 50%;
    }

    #main-content-home {
        float: left;
        max-width: 99%;
        padding: 1cm 1cm 1cm 1cm;
        margin-left: .5cm;
    }

    #main-content-ltr {
        float: left;
        max-width: 87%;
        padding: 1cm .5cm 1cm 1cm;
        margin-left: .5cm;
    }

    #main-content-rtl {
        float: right;
        max-width: 87%;
        padding: 1cm 1cm 1cm .5cm;
        margin-right: .5cm;
    }

    #main-content-home,
    #main-content-ltr,
    #main-content-rtl {
        background-color: hsla(0, 0%, 98%, 85%);
    }
}
