body {
    font-family: "Helvetica Neue", Helvetica;
    width: 70em;
    padding-left: 1em;
    font-size: 12pt;
}


@media screen and (min-width: 769px) {

    img.logo {
        float: left;
        vertical-align: middle;
        width: 15%;
    }

    .row {
        background: grey;
        margin-right: 1cm;
        margin-left: 1cm;
    }

    .left {
        float: left;
        width: 100%;
    }

    .right {
        float: left;
        width: 55%;
        padding-left: 10px;
    }

    .left-rtl {
        float: right;
        width: 100%;
    }
  
    .right-rtl {
        float: right;
        width: 25%;
        margin-right: 1cm;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    
    img.logo {
        float: left;
        vertical-align: middle;
        width: 25%;
    }  

    .row {
        background: grey;
        width: 100%;
        margin-left: .5cm;
        margin-right: 1cm;
    }

    .left {
        float: left;
        width: 90%;
    }

    .right {
        float: left;
        width: 90%;
        padding-left: 10px;
    }

    .left-rtl {
        float: right;
        width: 90%;
        padding-right:50px;
    }

    .right-rtl {
        float: right;
        width: 25%;
        padding-right: 50px;
        margin-right: .5cm;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.5em;
}

img.flag {
    width: 1.5em;
}

footer {
    text-align: center;
    border-top: 1px solid black;
}
