---
---
    {%- if page.title -%} 
        {%- assign the_title = page.title -%} 
    {%- else -%} 
        {%- assign language = page.permalink | replace: '/', '' %}
        {%- assign the_title = site.languages | where: "key", language | map: "title" | first -%} 
        {%- assign the_name = site.languages | where: "key", language | map: "name" | first -%}
    {%- endif -%} 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>{{site.title}}</title>
    <link href="{{ '/static/site.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/glossary.css" />
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/glossary.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
    <!-- {%- if page.direction -%}
        {%- assign direction = page.direction -%}
    {%- else -%}
        {%- assign direction = 'ltr' %}
    {%- endif -%} -->
<head>
    <a href="{{ site.github.repository_url }}" class="button-rtl"><small>View project on</small>GitHub</a>
    <div class="row" dir="auto" style="margin-right: 1cm">
        <div class="left-rtl">
            <a href="{{'/' | relative_url}}">
                <img src="{{'/static/parrot.svg' | relative_url}}"
                     alt="Parrot logo"
                     width="85%" />
            </a>
        </div>
        <div class="right-rtl" style="font-family: Arial, Helvetica, sansserif; color: white; margin-right: 1cm">
            <h1>{{the_title}}</h1>
            <h2>{{ the_name | default: site.description }}</h2>
        </div>
    </div>
</head>
    <!--div style="padding: Opx 50px 0px 100px; width: 70%; margin: Opx 50px 0px 100px; align-content: center"-->
    <div id="content-wrapper">
         <div class="inner clearfix">
             <section id="main-content-rtl">
    <!--{{ content }}-->
                 {% include glossary.html headings = headings %}
             </section>
             <div class="sticky-rtl">
                 {% assign char_arr = headings | split: '' %}
                 {% for char in char_arr %}
                     <font color="white" size="5px" face="arial">
                         <a class="letter_links"
                            href="#{{char}}">{{char}}</>
                         </a>
                         <br>
                     </font>
                 {% endfor %}
             </div>
        </div>
    </div>
</main>
<footer>
    <p>
        <a href="{{'/' | relative_url}}">Home</a>
        -
        <a href="{{'/license/' | relative_url}}">License</a>
        -
        <a href="https://github.com/carpentries/glosario/">GitHub</a>
      </p>
</footer>
</body>
