---
---
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{site.title}}</title>
<link href="{{ '/static/site.css' | relative_url }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/glossary.css" />
<link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/glossary.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="width:100%">

<main>
{%- if page.title -%} 
{%- assign the_title = page.title -%} 
{%- else -%} 
{%- assign language = page.permalink | replace: '/', '' %}
{%- assign the_title = site.languages | where: "key", language | map: "title" | first -%} 
{%- endif -%} 
<!-- {%- if page.direction -%} -->
<!-- {%- assign direction = page.direction -%} -->
<!-- {%- else -%} -->
<!-- {%- assign direction = 'ltr' %} -->
<!-- {%- endif -%} -->
<div class="row" dir="auto">
  <div style="float: right; width: 15%; padding-right: 1cm">
    <a href="{{'/' | relative_url}}"><img src="{{'/static/parrot.svg' | relative_url}}" alt="Parrot logo" width="75%" /></a>
  </div>
  <div style="float: left; width: 80%">
    <h1>{{the_title}}</h1>
  </div>
</div>



<!--div style="padding:Opx 50px 0px 100px;width:70%;margin: Opx 50px 0px 100px; align-content: center"-->
<div id="content-wrapper">
     <div class="inner clearfix">
          <section id="main-content-rtl">
<!--{{ content }}-->
{% include glossary.html headings = headings %}
</section>
<aside class="sticky-rtl" style="padding:0px">
{% assign char_arr = headings | split: '' %}
{% for char in char_arr %}
<font color="white" size="5px" face="arial">
    <a class="letter_links" style="padding-top: 1cm;margin:10px 10% 10px 30%; text-decoration: none" href="#{{char}}">{{char}}</></a><br>
</font>
{% endfor %}
</div>
</div>
</aside>

</main>
    <footer>
      <p>
        <a href="{{'/' | relative_url}}">Home</a>
        -
        <a href="{{'/license/' | relative_url}}">License</a>
        -
        <a href="https://github.com/carpentries/glosario/">GitHub</a>
      </p>
    </footer>

</body>
