on: [push, pull_request]

name: Build and Deploy Glossary Website

jobs:
  build-and-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          persist-credentials: false

    - name: Build site
      run: make gh-site

    - name: Remove _data fromm .gitignore
      run: "grep -v '_data' .gitignore > tmpfile && mv tmpfile .gitignore"

    - name: inspect content of folder
      run: ls -alh _gh-site && ls -alh _gh-site/_data

    - name: Deploy to site
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository == 'carpentries/glosario' }}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: site
        folder: _gh-site
        token: ${{ secrets.GITHUB_TOKEN }}
